<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCSS, CSS 관련 link 라인 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <!-- 아이콘 및 fontawesome import 라인 -->
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e3d1ead7f0.js" crossorigin="anonymous"></script>
    <title>Baik's Minegame Center</title>
</head>
<body>
   <div class="container">
        <div class="main__find-password">
            <div class="main__darken-gradient"></div>
            <div class="main__find-password--title">
                <h4>Find Password</h4>
                <p>미니게임 센터 패스워드 찾기</p>
            </div>
            <div class="main__find-password--session">
                <form id="find-password-form" action="/register/password" method="POST">
                    <label for="email">
                        <i class="fa-solid fa-envelope"> <span>E-mail</span> </i>
                    </label>
                    <input type="email" id="email" name="email" placeholder="you@example.com" required />
                    <button type="submit" class="main__find-password--btn">
                        <i class="fa-solid fa-paper-plane"></i>Send Reset Email
                    </button>
                    <p class="check-valid">입력하신 이메일로 패스워드 초기화 링크를 전송합니다.</p>
                </form>
            </div>

            <div class="main__find-password--confirm not-submitted" style="display:none;">
                <i class="fa-solid fa-circle-check"></i>
                <h4>Check Your Email</h4>
                <p>입력하신 이메일로 <strong>인증 URL</strong>가 전송되었습니다.</p>
            </div>
        </div>

        <footer class="main__footer">
            <div class="main__footer--element">
                <i class="fa-brands fa-github fa-xl"></i>
                <i class="fa-solid fa-envelope fa-xl"></i>
                <i class="fa-brands fa-google-plus-square fa-xl"></i>
            </div>
            <div class="main__footer--element">
                <p>Copyright © 2022 dev_rookiand.co.,Ltd. All rights reserved.</p>
                <p>Contact author for more information. <strong>gwangin1999@naver.com</strong></p>
            </div>
        </footer>

        <script type="module" src="../static/js/login.js"></script>
     </div>
 </body>
 </html>