<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCSS, CSS 관련 link 라인 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <!-- 아이콘 및 fontawesome import 라인 -->
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e3d1ead7f0.js" crossorigin="anonymous"></script>
    <title>Baik's Minegame Center</title>
</head>
<body>
<div class="container">
    <nav class="main__navbar">
        <a href="{{ url_for('main.main_page')}}"><i class="fa-solid fa-square-caret-right"></i>Lobby</a>
        <a href="{{ url_for('main.main_page') + '#section-leader'}}"><i class="fa-solid fa-award"></i></i>
            Leaderboard</a>
        <a href="{{ url_for('main.my_page') }}"><i class="fa-solid fa-user"></i></i>{{username}}</a>
        <a href="{{ url_for('account.logout') }}"><i class="fa-solid fa-right-from-bracket"></i>log out</a>
    </nav>
    <div class="main__background">
        <h3>Find the same picture</h3>
        <p>Welcome Back {{username}}! have a good day!</p>
        <a href="{{ url_for('main.running_game', username=username) + '#section-game'}}"><i
                class="fa-solid fa-play"></i>Play the game</a>
    </div>
    <div class="main__statistic">
        <div class="main__darken-gradient"></div>
        <div class="main__statistic--title">
            <h4>My Statistics</h4>
            <p>{{username}}님의 게임 정보</p>
        </div>
        <div class="main__statistic--element">
            <div class="statistic--option rank">
                <i class="fa-solid fa-award"></i>
                <span>Total Rank</span>
                <strong># {{ "{:,}".format(total_rank) }}</strong>
            </div>
            <div class="statistic--option stage">
                <i class="fa-solid fa-crown"></i>
                <span>Best Stage</span>
                <strong>{{ "{:,}".format(best_stage) }}</strong>
            </div>
            <div class="statistic--option score">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <span>Best Score</span>
                <strong>{{ "{:,}".format(best_score) }}</strong>
            </div>
        </div>
    </div>
    <div class="main__myinfo">
        <div class="main__myinfo--title">
            <h4>My Profile</h4>
            <p>{{username}}님의 프로필</p>
        </div>
        <div class="main__myinfo--section">
            <div class="myinfo--option profile">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="myinfo--option nickname">
                <h5>{{username}}</h5>
            </div>
            <div class="myinfo--option detail">
                <div class="detail-list">
                    <i class="fa-solid fa-envelope"></i><span>{{playerEmail}}</span>
                </div>
                <div class="detail-list">
                    <i class="fa-solid fa-right-to-bracket"></i><span>{{playerJoinDate}}</span>
                </div>
                <div class="detail-list">
                    <i class="fa-solid fa-star"></i><span>{{totalExp}} 개</span>
                </div>
            </div>
            <div class="myinfo--option tier">
                <i id="tier-icon" class="fa-solid"></i>
                <h5 id="tier-name"></h5>
                <span id="tier-percent">상위 <strong>0.00</strong>%</span>
            </div>
            <div class="myinfo--option decoration">
            </div>
        </div>
        <div class="main__myinfo--level">
            <h5><i class="fa-solid fa-star"></i> Lv.{{totalLevel}}</h5>
            <div class="myinfo--levelgraph">
                <div class="myinfo--progress"></div>
                <h5>{{totalExp}} / {{totalLevel ** 2 * 100}}</h5>
            </div>
        </div>
    </div>
    <div class="main__profile--option">

    </div>
    <footer class="main__footer">
        <div class="main__footer--element">
            <a href="https://github.com/nmy6452/FindSameCardGame" target="_blank"
               style="color: white; text-decoration: none;">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
            <a href="mailto:nmy6452@naver.com" target="_blank" style="color: white; text-decoration: none;">
                <i class="fa-solid fa-envelope fa-xl"></i>
            </a>
            <!--            <a href="https://github.com/yourusername" target="_blank">-->
            <!--                <i class="fa-brands fa-google-plus-square fa-xl"></i>-->
            <!--            </a>-->
        </div>
        <div class="main__footer--element">
            <section class="credits">
                <h1>About / Credits</h1>

                <p>
                    본 서비스는 오픈소스 프로젝트를 기반으로 개발되었습니다.<br/>
                    아래는 사용된 주요 오픈소스와 원저작권 정보입니다.
                </p>

                <h2>Open Source Credits</h2>

                <div>
                    <span>
                        <strong>Project Name:</strong> FindSameCardGame<br/>
                    </span>
                    <span>
                        <strong>Original Author:</strong> dev_rookiand.co.,Ltd.<br/>
                    </span>
                    <span>
                        <strong>License:</strong>
                        <a href="https://opensource.org/licenses/MIT" target="_blank"
                           style="color: white; text-decoration: none;">MIT License</a>
                    </span>
                    <span>
                        <strong>Source:</strong>
                        <a href="https://github.com/RookieAND/FindSameCardGame" target="_blank"
                           style="color: white; text-decoration: none;">GitHub Repository</a>
                    </span>
                </div>

                <h2>Additional Notes</h2>
                <p>
                    본 서비스는 상기 오픈소스 프로젝트를 기반으로 커스터마이징 되었으며,<br/>
                    모든 수정 사항은 MIT 라이선스 조건을 준수합니다.<br/>
                    원저작권자에게 감사를 드립니다.
                </p>

                <p>© 2025 nmy6452. All rights reserved.</p>
            </section>
        </div>
    </footer>
    <script type="module" src="../static/js/tier.js"></script>
    <script type="module" src="../static/js/levelprogress.js"></script>
</div>
</body>
</html>